scikit_learn
scipy
pandas
numpy
matplotlib
certifi
contourpy
cycler
fonttools
imbalanced_learn
joblib
kiwisolver
packaging
pillow
pip
pyparsing
python_dateutil
pytz
seaborn
setuptools
six
threadpoolctl
tzdata
ucimlrepo
wheel