PyYAML
Pygments
aiosignal
asttokens
attrs
certifi
charset-normalizer
click
colorama
comm
contourpy
cycler
debugpy
decorator
exceptiongroup
executing
filelock
fonttools
frozenlist
idna
imbalanced-learn
imblearn
importlib-metadata
importlib-resources
ipykernel
ipython
jedi
joblib
jsonschema
jsonschema-specifications
jupyter-client
jupyter-core
kiwisolver
matplotlib
matplotlib-inline
msgpack
nest-asyncio
numpy
packaging
pandas
parso
pexpect
pillow
pip
platformdirs
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pygments
pyparsing
python-dateutil
pytz
pywin32
pyzmq
ray
referencing
requests
rpds-py
scikit-learn
scipy
setuptools
six
stack-data
threadpoolctl
tornado
traitlets
typing-extensions
tzdata
urllib3
wcwidth
wheel
zipp